@font-face {
  font-family: "Movement";
  src: url("/fonts/movement/Movement.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Movement";
  src: url("/fonts/movement/Movement.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Movement";
  src: url("/fonts/movement/Movement-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
